@import './reset.scss';
@import '~react-select/dist/react-select.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
  color: inherit;
  opacity: 0.5;
}

@keyframes set-10-percent-opacity {
  from {
    background-color: rgba(250, 255, 189, 0.15);
    border-color: rgb(250, 255, 189);
    color: inherit;
  }
  to {}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  animation: 1s set-10-percent-opacity;
  animation-play-state: paused;
}

._react-file-reader-input {
  height: 100%;
  width: 100%;
}
